#root {
  margin: 0 auto;
  text-align: center;
}



nav {
  background-color: #333; 
  color: #fff; 
  display: flex; 
  justify-content: space-between;
  padding: 10px 20px; 
}

h1 {
  margin: 0; 
  font-size: 24px; 
}


nav a {
  color: #fff; 
  text-decoration: none; 
  margin-left: 20px; 
}


nav a:hover {
  color: #ffcc00;
}

.normal-mode {
  background-color: #fff;
  color: #333;
}


.dark-mode {
  background-color: #333;
  color: #fff;
}

.search-bar{
  margin-bottom: 10px;

}

h3{
  margin-bottom: 1px;
}